<?xml version='1.0' encoding='utf-8'?>
<widget id="org.astd.TDMobileVALID" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>T+D Magazine</name>
    <description>
        ASTD's leading publication.
    </description>
    <author email="flavio@astd.org" href="http://www.astd.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
